nav {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin: 30px 0;
  flex-wrap: wrap;
}

nav button {
  background-color: #26262c;
  color: white;
  border: none;
  padding: 10px 18px;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

nav button:hover {
  background-color: #4F46E5;
}

/* Botão "Sair" com cor diferente (opcional) */
nav .sair-button {
  background-color: #E5E7EB;
  color: #c4ab08;
}

nav .sair-button:hover {
  background-color: #D1D5DB;
}
